body{
	background:url(pic3.jpg) center center;
	background-size:100% 100% ;
    background-attachment:fixed;
    background-repeat: no-repeat;
	
}
#head{
	margin-top: 5%;
	text-align: center;
	font-family: sofia,Helvetica;
	font-size: 6vw;
}
p{
	font-family: Bradley Hand ITC,verdana,Arial;
	font-size: 2vw;
	font-weight: bolder;
	text-shadow: 2px 2px 7px skyblue;
	text-indent: 20%;
	color: white;
}
ul{
	text-align: center;
}
nav ul li{
	font-family: Lucida Calligraphy;
	font-size: 1.5vw;
	text-align: center;
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}
.sec2{
	margin-top: 7%;
}
div ul li{
	margin: 15px;
	font-family: Lucida Calligraphy;
	font-size: 2.5vw;
	text-align: center;
	display: inline;
	padding: 15px;
	border: 6px solid ghostwhite;
	box-shadow: 5px 5px 5px lightskyblue;
	border-radius: 10px;
}
ul a{
	color: #ffffff;
	text-decoration: none;
}
